@model System.Collections.Generic.List<Core.Entities.TimeTracking>;

@{
    ViewBag.Title = "Time Tracking";
    Layout = "_Layout";
}

<h2>title</h2>
@foreach (TimeTracking data in ViewBag.Tasks)
{
    <h3></h3>
}