@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}

<div class="card mt-5">
    <div class="card-header">
        <h2 class="card-title">@ViewBag.Title</h2>
    </div>
    <div class="card-body">
        <h4 class="text-success">You find me here:</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="taskTypeTable">
                <div class="list-group">
                    <a href="https://www.linkedin.com/in/radu-ovidiu-027053147" class="list-group-item list-group-item-action list-group-item-primary"><i class="fa-brands fa-linkedin"></i> &nbsp; LinkedIn</a>
                    <a href="https://www.facebook.com/ovidiu.radu.7583" class="list-group-item list-group-item-action list-group-item-info"><i class="fa-brands fa-facebook"></i> &nbsp; Facebook</a>
                   <a href="https://github.com/RaduOvidiu20" class="list-group-item list-group-item-action list-group-item-dark"><i class="fa-brands fa-github"></i> &nbsp; GitHub</a>
                </div>
            </table>
        </div>
    </div>
</div>