@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To the best Time Tracking app ever made :D</p>
    <div class="container w-75">
        <img src="~/Employee-Time-Tracking-1400.jpg" alt="" class="img-fluid"/>
    </div>
</div>