@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To the best Time Tracking app ever made :D</p>
    <div class="img-fluid"><img src="~/Employee-Time-Tracking-1400.jpg" alt=""/></div>
</div>
