@model Customer;

@{
    Layout = "_Layout";
    ViewBag.Title = "Delete customer";

}
<form asp-controller="Customer" method="post" class="container w-75">
    <div class="card mt-5">
        <div class="card-header">
            <h2 class="card-title">@ViewBag.Title</h2>
            <h4 class="text-danger">Are you sure you want to delete this customer?</h4>
            <a asp-controller="Customer" asp-action="GetAll" class="btn btn-info mt-3 mb-3">Back to customers list</a>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="CustomerId" class="form-label">Customer ID</label>
                <input asp-for="CustomerId" class="form-control"readonly="readonly"/>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="form-label">Customer Name</label>
                <input asp-for="Name" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="form-label">Customer Email</label>
                <input asp-for="Email" type="email" class="form-control"readonly="readonly"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="form-label">Customer Phone Number</label>
                <input asp-for="Phone" type="number" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger" asp-action="Delete">@ViewBag.Title</button>
        </div>
    </div>
</form>