@model Customer;

@{
    Layout = "_Layout";
    ViewBag.Title = "Delete Customer";
}

<a asp-controller="Customer" asp-action="GetAll" class="text-info">Back to customers list</a>

<form asp-controller="Customer" asp-action="Edit" method="post">
    <div class="container mt-3">
        <label asp-for="CustomerId" class="text-decoration-underline form-label w-50 mb-1">Customer name</label>
        <input asp-for="CustomerId" class="form-control w-50 mb-3" disabled="disabled"/>
    </div>
    <div class="container mt-3">
        <label asp-for="Name" class="text-decoration-underline form-label w-50 mb-1">Customer name</label>
        <input asp-for="Name" class="form-control w-50 mb-3" />
    </div>
    <div class="container">
        <label asp-for="Email" class="text-decoration-underline form-label w-50 mb-1">Customer email</label>
        <input asp-for="Email" type="email" class="form-control w-50 mb-3" />
    </div>
    <div class="container">
        <label asp-for="Phone" class="text-decoration-underline form-label w-50 mb-1">Customer phone number</label>
        <input asp-for="Phone" type="number" class="form-control w-50"/>
    </div>
    <div class="container">
        <button type="submit" class="btn btn-outline-info mt-3">Update</button>
    </div>

</form>