@model System.Collections.Generic.List<Core.Entities.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}
<h2 class="text-decoration-underline">Customers</h2>

@foreach (Customer customer in ViewBag.Customers)
{
    <h1>@customer.Email</h1>
    <h1>@customer.Name</h1>
    <h1>@customer.Phone</h1>
}