@model System.Collections.Generic.List<Core.Entities.ProjectOwner>

@{
    ViewBag.Title = "Project Owners";
    Layout = "_Layout";
}

<h2 class="text-decoration-underline">Project owners</h2>
@foreach (ProjectOwner projectOwner in ViewBag.Owners)
{
    <h2>@projectOwner.Name</h2>
}