@model System.Collections.Generic.List<Core.Entities.ProjectOwner>

@{
    ViewBag.Title = "Project Owners";
    Layout = "_Layout";
}

<h2 class="text-decoration-underline">Project owners</h2>
<form asp-controller="ProjectOwner" asp-action="GetAll" method="get">
    

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    @foreach (ProjectOwner projectOwner in ViewBag.Owners)
    {
        <tbody>
        <tr>
            <td>
                @projectOwner.Name
            </td>
            <td></td>
        </tr>
        </tbody>
    }
</table>
</form>