@model System.Collections.Generic.List<Core.Entities.ProjectName>

@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
}

<h2 class="text-decoration-underline">Projects</h2>
<form asp-controller="ProjectName" asp-action="GetAll" method="get">
<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    </thead>

    @foreach (ProjectName projectName in ViewBag.Projects)
    {
        <tbody>
        <tr>
            <td>@projectName.Name</td>
            <td></td>
        </tr>

        </tbody>
    }


</table>
</form>